[Lexicon]
lexName = resources/HindiLinguisticResources/Lexicon/newer_LEXICON
auxVerbFilename = resources/HindiLinguisticResources/Rules/VERB_AUXILIARY_LIST
spellingVariationRuleFilename = resources/HindiLinguisticResources/Rules/Spell_variations_Rules

[Stemmer]
suffixReplacementRuleFilename = resources/HindiLinguisticResources/Rules/newFormatSuffixReplacementRules
specialCharactersRuleFilename = resources/HindiLinguisticResources/Rules/Regex_cat_map
irregularVerbFilename = resources/HindiLinguisticResources/Rules/IRREGULAR_VERB_MAPPING
uniqueSuffixReplacementRuleFilename = resources/HindiLinguisticResources/Rules/newFormatUniqueSuffixReplacementRules
derivationalMorphologyRuleFilename = resources/HindiLinguisticResources/Rules/DERIVATIONAL_MORPHOLOGY_RULES
stemDictionary = resources/HindiLinguisticResources/stemDictionary.serialized
charametarSuff = resources/HindiLinguisticResources/Rules/Suff2
allSuff = resources/HindiLinguisticResources/Rules/Suff1
NounSuff = resources/HindiLinguisticResources/Rules/Suff2

[Tagset]
tagMappingFilename = resources/HindiLinguisticResources/Rules/Tagmapping

[MA]
stemAnalysisFile = resources/HindiLinguisticResources/Rules/STEM_ANALYSIS
suffixAnalysisFile = resources/HindiLinguisticResources/Rules/SUFFIX_ANALYSIS
stemFlagFile =resources/HindiLinguisticResources/Rules/VERB_STEM_FLAG_MAP
suffixFlagFile =resources/HindiLinguisticResources/Rules/VERB_SUFFIX_FLAG_MAP
MAOutput = resources/HindiLinguisticResources/temp1


[Disambiguator]
ordering = ORDERED
orderedRulesFile = resources/HindiLinguisticResources/Learned/Rules/rules.ord
unorderedRulesFile = resources/HindiLinguisticResources/Learned/Rules/rules.unord
seqFH = resources/HindiLinguisticResources/Rules/sequence_of_tags_in_training_instances

[AS]
wordAndASID = resources/HindiLinguisticResources/Learned/Resources/wordAndASID.serialized
ASID-ASName-Mapping = resources/HindiLinguisticResources/Learned/Resources/ASID-ASName-Mapping.txt
word-ASID-ASName-Mapping = resources/HindiLinguisticResources/Learned/Resources/word-ASID-ASName-Mapping.txt
ASID-ASName-Words = resources/HindiLinguisticResources/Learned/Resources/ASID-ASName-Words.txt
ASID-ASName-NumOfWords = resources/HindiLinguisticResources/Learned/Resources/ASID-ASName-NumOfWords.txt
wordAndAS = resources/HindiLinguisticResources/Learned/Resources/wordAndAS.serialized
ASAndWord = resources/HindiLinguisticResources/Learned/Resources/ASAndWord.serialized
ASAndWordGR1 = resources/HindiLinguisticResources/Learned/Resources/ASAndWordGR1.serialized
ASAndNumOfTimes = resources/HindiLinguisticResources/Learned/Resources/ASAndNumOfTimes.serialized
ASGR1AndNumOfTimes = resources/HindiLinguisticResources/Learned/Resources/ASGR1AndNumOfTimes.serialized
asToAsid = resources/HindiLinguisticResources/Learned/Resources/asToAsid.serialized

[Trainer]
trainingInstancesDir = /mnt/dgf1/home/sachinp/CN2
sequenceOfTagsFilename = resources/HindiLinguisticResources/Rules/sequence_of_tags_in_training_instances
suffixesFilename = resources/HindiLinguisticResources/Rules/Suff2
learnedRulesDir = /mnt/dgf1/home/sachinp/Learned/Rules
trainingDataDir = /mnt/dgf1/home/sachinp/TrainingData/newTrainH1
cn2executable = resources/CN2/cn

[NGI]
RuleFile = resources/HindiLinguisticResources/Rules/ngiRuleFile

[HMM]
tagfile = /mnt/dgf1/home/sachinp/tagfile
tagCat = resources/MarathiLinguisticResources/Rules/Tagmapping
trainingData = /mnt/dgf1/home/sachinp/TrainingData/newTrainH1
countFile = /mnt/dgf1/home/sachinp/lexCounts
lexCountsObject = /mnt/dgf1/home/sachinp/lexCountsObject
suffTagsObject = /mnt/dgf1/home/sachinp/suffTagsObject
selfSuffObject = /mnt/dgf1/home/sachinp/selfSuffObject
qObject = /mnt/dgf1/home/sachinp/qObject
qN_1Object = /mnt/dgf1/home/sachinp/qN_1Object
tagCounts = /mnt/dgf1/home/sachinp/tagCounts
testfile = /mnt/dgf1/home/sachinp/temptrain
distinctTags = /mnt/dgf1/home/sachinp/distinctTags
tagcats = /mnt/dgf1/home/sachinp/tagcats
categories = /mnt/dgf1/home/sachinp/categories
suffixesObject = /mnt/dgf1/home/sachinp/suffObject
suffixes = /mnt/dgf1/home/sachinp/suffListUniq
